{% if collection.metafields.custom.footer_description_collection != blank %}
<div class="main_footer_description page-width">
  <div class="description_contain">
    {{ collection.metafields.custom.footer_description_collection | metafield_tag  }}
  </div>
</div>

{% endif %}
{% if collection.metafields.custom.popular_tags != blank %}
<div class="popular_srch">
  <div class="page-width">
    <h3>Popular Searches:</h3>
    {{ collection.metafields.custom.popular_tags | metafield_tag }}
  </div>
</div>
{% endif %}
<style>
.main_footer_description{
  display: block;
  width: 100%;
} 
.main_footer_description .description_contain h2{
  font-size: 17px;
  line-height: 15px ;
  letter-spacing: 0px;
  font-weight: 600;
  margin:10px 0;
}
.main_footer_description .description_contain h3{
  margin-top: 25px;
  margin-bottom:9px;
  line-height: 15px;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 600;
}
.main_footer_description .description_contain p,
.popular_srch p{
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .02rem;
  text-transform: capitalize;
}
.main_footer_description .description_contain a,
.popular_srch a{
   color: #000;
   border-bottom: 1px solid #00000026;
   text-decoration: none;
}
.popular_srch h3{
  margin-top: 25px;
  margin-bottom:9px;
  line-height: 15px;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
}
</style>