.cstm_product .pdp-offer-detail{
  background-color: #fbb03b;
    color: #fff;
    padding: 8px;
    text-align: center;
}
.pdp-offer-detail.fixed-strip {
    z-index: 2;
    position: fixed;
    width: 100%;
}
.cstm_product .strip_msg{
  font-size:16px;
  font-family: Avenir-Roman;
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
}
.cstm_product .thumbnail-slider .slider-button{
    width: 2rem;
    height: 2rem;
}
.product__tax.caption{
  font-size: 11px;
  font-family: Avenir-Roman;
}
.cstm_product .product-form__input input[type=radio]:checked+label:not(.color__swatch):after{
  background: #bf1616;
}
.cstm_product .product-form__input input[type=radio]:checked+label{
   border:none;
}
.cstm_product .product-form__input input[type=radio]+label {
    padding: .6rem;
    min-width: 4rem;
    min-height: 3rem;
    justify-content: center;
    border:1px solid #000;
    box-shadow:none;
    margin-inline-end: 0.5rem;
}
.cstm_product .product-form__input input[type=radio]:disabled+label{
  background-color: #f1f1f1;
  border: 1px solid #c1c1c1;
}
.cstm_product .link-with-icon .label{
  background-image:none;
}
.cstm_product .product-popup-modal__button{
  text-transform: uppercase;
  color:#bf1616;
  font-size:14px;
}
.cstm_product .product-form__input .form__label{
   font-size:14px;
  font-family: Avenir-Roman;
}
.cstm_product .product__info-container>*+* {
    margin: 0.5rem 0 0;
}
.cstm_product .quantity__button,
.cstm_product .quantity__button:after{
   border-radius: unset;
   flex: 0 0 3rem;
   width: 3rem;
   height: 3rem;
}
.cstm_product .quantity__input{
    height: 3rem;
    border: 1px solid #000;
    margin: 0.5rem;
}
.cstm_product .product-form__submit.button, .cstm_product .button.buynow-btn{
    border: 1px solid #bf1616;
    border-radius: unset;
   background: #bf1616;
  color:#fff;
  font-size:16px;
  font-family: Avenir-Roman;
  font-weight:normal;
  letter-spacing: 1px;
}

.cstm_product .product-form__buttons{
      padding-bottom: 15px;
}
.cstm_product .button, .shopify-payment-button__button{
      min-height: 5rem;
}
.cstm_product .shopify-payment-button__button{
    border-radius: unset;
    /* background-color: #bf1616;
    border: none; */
}
/* .cstm_product .shopify-payment-button__button:hover{
    background-color: #bf1616;
} */
.cstm_product .product-sticky-cart .sticky-cart__form .product-form__submit.button{
    min-width: fit-content;
    max-width: fit-content;
    border: none;
    padding-left: revert;
    padding-right: revert;
}
.cstm_product .product_price{
    font-weight: 100;
}
.cstm_product .product-sticky-cart .price--on-sale .price-item--regular bdi,
.cstm_product .price bdi{
   display: flex;
   align-items: center;
}
.cstm_product .product__heading {
   text-transform: capitalize;
}
.cstm_product #productBody{
    background: #fbb03b;
    color: #fff;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
}
/*-------------pincode vallidation--------------*/
p.delivery_check{
    font-family: Avenir-Roman;
    font-size: 14px;
}
.pincode_validation_1, .pincode_validation_2{
    display: none;
}
.pincode_validation_1, .shipping_pin{
    color: green;
    font-family: Avenir-Roman;
}
.pincode_validation_2{
    color: red;
    font-family: Avenir-Roman;
}
.pincode_container .tag{
    display: none;
}
.line_height{
    line-height: 5px;
    font-size: 12px;
}
.pincode_validation_2{
    font-size: 16px !important;
}
.pincode_container{
    margin:0rem;
}
#checkPin{
    height: 40px;
    font-size: 13px;
    border: 1px solid #333;
    color: #333;
    padding: 0 9px;
    width: 200px;
    outline: none; 
    box-shadow: none;
}
 .errorMsg {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    .errorMsg::before {
      content: "\f06a";
      font: normal normal normal 14px / 1 FontAwesome;
      padding-right: 0;
      display: inline-block;
      font-size: 16px;
      line-height: 15px;
      width: 18px;
      position: relative;
      text-align: left;
  }
.greenPincode1 u{
  font-size:14px;
  font-family: Avenir-Roman;
  padding-left: 4px;
}
span.greenPincode::before {
      padding-right: 5px;
        display: inline-block;
        line-height: 15px;
        text-align: left;
        position: relative;
        content: "\f09d";
        font: normal normal normal 14px / 1 FontAwesome;
        font-size: 14px;
        width: 20px;
          }
.freegreen{
  margin-left: 4px;
}
  span.greenPincode1::before {
    padding-right: 5px;
    display: inline-block;
    line-height: 15px;
    text-align: left;
    position: relative;
    content: "\f072";
    font: normal normal normal 14px / 1 FontAwesome;
    bottom: -2px;
    font-size: 21px;
    width: 20px;
          }
span.greenPincode {
        display: flex;
        align-items: flex-start;
        display: block;
        font-size: 14px;
        padding: 2px;
        line-height: 15px;
        color: #1ac11a;
        font-family: Avenir-Medium;

          }
/*-------------end pincode vallidation--------------*/
.cstm_product .product__info-container .price--on-sale .price-item--regular bdi,
.cstm_product .product__info-container .price--medium bdi{
    letter-spacing: 0px;
    font-family: Avenir-Roman;
}
.cstm_product .price-item.price-item--sale .price__prefix, .cstm_product .price-item.price-item--sale bdi, .cstm_product .price-item.price-item--sale .price__suffix, .cstm_product .price__regular dd .price-item.price-item--regular .price__prefix{
  font-size:18px;
}
.cstm_product .price-item.price-item--regular .price__prefix{
  font-size: 18px;
}
/* accordion */
.cstm__tab.product__accordion.accordion {
    border-top: none;
}
ul.additional_content {
    display: flex;
    flex-wrap: wrap;
  padding-left: 0;
}
ul.additional_content li {
    list-style: none;
    min-width: 48%;
    border-bottom: 1px solid #eaeaec;
    margin: 0 0 8px;
    padding: 0 0 7px;
    line-height: 13px;
}
ul.additional_content li:nth-child(odd) {
    margin-right: 4%;
}
.additional_title {
    font-size: 12px;
    color: #7e818c;
}
.additional_title {
    font-size: 12px;
    color: #7e818c;
    line-height: 16px;
}
.additional_content {
    font-size: 15px;
    line-height: 16px;
}
.cstm__tab.accordion .summary__title i {
    width: 30px;
    font-size: 18px;
}
.cstm__tab.product__accordion .summary__title,
.cstm__tab.product__accordion .accordion__title{
    position: relative;
    align-items: center;
    cursor: pointer;
    margin: 0;
    color: #252525;
    text-transform: capitalize;
    font-family: Avenir-Roman;
    letter-spacing:0;
    font-weight:100;
}
.rte li.font-data {
    list-style: none;
    width:75%;
    padding-left: 6px;
}
ul.Manufacturing-Details__row.meta__description {
    display: flex;
    margin: 2px 0;
}
li.label.font-regular {
    width: 35%;
    padding-right: 6px;
    position: relative;
}
li.label.font-regular:after {
    content: ":";
    position: absolute;
    top: 0;
    right: 0px;
}
.cstm_product .product__accordion .accordion__content{
    max-height: unset;
}
.cstm_product .product-popup-modal__content table {
    font-family: Avenir-Roman;
    text-align: center;
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
}

.cstm_product .shopify-payment-button__button--unbranded{
   padding: 0em 0em;
  background: #bf1616;
  font-family: Avenir-Roman;
  font-size:16px;
  font-weight:normal;
}
/* Sizechat css code here */
.cstm_product .product-popup-modal__content{
  width:100%;
  max-width: 600px;
}
.cstm_product .modal-header{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 30px;
}
.cstm_product .size_guidename {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 18px;
    margin-bottom:10px;
}
.cstm_product .size_guidename span.size_name.active {
    background-color: #FFAC31;
    border: 1px solid #FFAC31;
    color: #fff;
}
.cstm_product .size_guidename span.size_name {
    border: 1px solid #666;
    padding: 5px;
    cursor: pointer;
}
.cstm_product .modal-header .modal-title{
  font-size:20px;
}

.cstm_product .product-popup-modal__toggle .icon-plus-alt:before{
  height: 0.3rem;
}
.cstm_product .product-popup-modal__toggle .icon-plus-alt:after{
width: .3rem;
}
.measurement_text{
  text-align:center;
  padding-bottom:10px;
}
.measurement_bottom_text{
  text-align:center;
  padding: 10px 0px;
}
.measurement_text button{
  background-color: #fbb03b;
    border: 1px solid #fbb03b;
    color: #fff;
  font-size:14px;
  font-family: Avenir-Roman;
}
@media(min-width:1024px){
.cstm_product .product-form__submit.button {
    min-width: 30%;
    max-width: 30%;
    padding-left: 0px;
    padding-right: 0px;
}
 .cstm_product .shopify-payment-button__button{
    width: 80%;
  }
.cstm_product .shopify-payment-button {
    width: 33.3%;
    margin-top: unset;
}
}
@media(min-width:750px){
  .cstm_product .button.buynow-btn{
min-width: 15rem;
}
.cstm_product .product__info-container{
  padding-top: 0px;
}
.cstm_product .product__heading{
  font-size:24px;
}
.cstm_product .product__sku{
  font-size:13px;
  color:#333;
}
.cstm_product .product__info-container .price--on-sale .price-item--regular bdi,
.cstm_product .price .price__suffix{
  font-size: 18px;
}
  .cstm_product .price-item.price-item--sale .price .price__prefix{
    font-size: 22px;
  }
.cstm_product .product-sticky-cart .price--on-sale .price-item--regular bdi,
.cstm_product .product-sticky-cart .price bdi,
.cstm_product .product-sticky-cart .price .price__suffix,
.cstm_product .product-sticky-cart .product_price,
.cstm_product .product-sticky-cart span.price__prefix{
  font-size: 14px;
}
.cstm__tab.product__accordion .summary__title,
.cstm__tab.product__accordion .accordion__title{
    font-size: 18px;
}
.cstm_product .sticky_atc_buynow{
  display: none;
}  
}
@media (max-width: 989px) {
    .cstm_product .buynow-btn {
        width: 100%;
    }
}
@media(max-width:749px){
    .cstm_product .sticky_atc_buynow .button.buynow-btn{
   width: 50%;
        min-width: 50%;
        max-width: 50%;
   border-left: 1px solid #fff;
}
  ul.additional_content li:nth-child(odd) {
    margin-right: 4%;
}
  .cstm_product .product-form__submit.button{
    border:none;
  }
  .cstm_slider .slick-list.draggable{
    padding-left: 0px !important;
  }
  .cstm_slider .slick-slider li.grid__item.slick-slide {
    padding: 0 .5rem;
}
  
 .cstm_slider button.slick-next.slick-arrow, .cstm_slider button.slick-prev.slick-arrow{
    display:none !important;
  }
  #checkPin {
width:300px;
  }

  p.delivery_check {
  padding-top: 10px;
  }
  .cstm_product .product-form__buttons{
    padding-bottom: 0px;
  }
.cstm_product .product__heading{
  font-size:18px;
}
.cstm_product .product__sku{
  font-size:12px; 
}
.cstm_product .product__info-container .price--on-sale .price-item--regular bdi,
.cstm_product .price .price__prefix,
.cstm_product .product_price,
.cstm_product .price .price__suffix{
    font-size: 15px !important;
}
  .cstm_product .price-item.price-item--sale .price__prefix, .cstm_product .product__info-container .price--medium bdi, .cstm_product .price__regular dd .price-item.price-item--regular .price__prefix{
    font-size: 18px !important;
}
.cstm__tab.product__accordion .summary__title,
.cstm__tab.product__accordion .accordion__title{
    font-size: 16px;
}
.cstm_product .product-sticky-cart .price--on-sale .price-item--regular bdi,
.cstm_product .product-sticky-cart .price bdi,
.cstm_product .product-sticky-cart .price .price__suffix,
.cstm_product .product-sticky-cart .product_price,
.cstm_product .product-sticky-cart span.price__prefix{
    font-size: 12px;
}
.cstm_product .product__accordion .accordion__content{
   padding: 0px;
}
ul.Manufacturing-Details__row.meta__description li.label,
ul.Manufacturing-Details__row.meta__description li.font-data,
.additional_content{
    font-size: 12px;
}
/* thumbnail & sticky atc */
  button.thumbnail img {
    display: none !important;
}
   media-gallery .thumbnail-slider .slider--mobile {
    overflow: unset;
    flex-wrap: wrap;
    justify-content: center;
     background: none;
     box-shadow:none;
}
  .thumbnail-slider .thumbnail,
  .thumbnail-slider  .slider__slide {
    padding: 0;
    height: 10px !important;
    width: 10px !important;
    border-radius: 100%;
}
  .thumbnail[aria-current]:after{
    box-shadow:unset;
  }
  .thumbnail[aria-current]{
    background:#000;
  }
  thumbnail-slider .slider-button{
    display:none;
  }
 body .product__media-wrapper product-gallery {
    margin-bottom: unset;
 }
 .cstm_product .sticky_atc_buynow{
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 8;
    flex-wrap: unset;
    grid-column-gap: unset;
    grid-row-gap: unset;
    background-color: #fff;
 }
  .cstm_product .sticky_atc_buynow .product-form__submit.button{
    width: 50%;
    background-color: #bf1616;
    color: #fff;
    max-width: unset;
    min-width: unset;
 }
 .cstm_product .sticky_atc_buynow .shopify-payment-button{
    margin-top: unset;
    width: 50%;
 }
 .cstm_product .sticky_atc_buynow .shopify-payment-button__button{
    margin-top: unset;
    padding: 0px;
 }
 .cstm_product .sticky_atc_buynow .button[aria-disabled=true], .button.disabled {
    opacity: 1;
 }
 .cstm_product media-gallery .thumbnail-slider{
    margin-top: -3rem;
    margin-bottom: 2rem;
 }
}
@media (hover: hover){
.cstm_product .shopify-payment-button__button--unbranded:hover:not([disabled]){
    background-color: #bf1616;
} 
 .cstm_product .button--secondary:hover {
    background-color: #bf1616;
} 
}
/*  product image slider */
@media screen and (min-width: 750px){

.product--no_cstm .product__media-list:not(.slick-initialized){
  display:flex;
  overflow:hidden;
  flex-wrap: nowrap;
 
}
  .product--no_cstm .product__media-list{
    padding:0; 
  }
 .product--no_cstm .product__media-gallery{
   display:flex;
  }
.product--no_cstm  use-animate{
   width:80%;
   order:1;
  padding-left: 0px;
  }

 .product--no_cstm .thumbnail-slider.slider-mobile-gutter{
    width:16%;
   margin-right: 40px;
  }
  .product--no_cstm .product__media-list:not(.slick-initialized) use-animate{
    min-width:100%;
  }
   .product--no_cstm .product__media-list.slick-initialized  use-animate{
  width:100%;
  }
 .product--no_cstm .thumbnail-list {
    flex-direction: column;
    padding: 0;
}
 .product--no_cstm .media--square {
    padding-bottom: 143%;
}
 .product--no_cstm .thumbnail-list__item{
    padding-bottom:5px;
  }
  .product--no_cstm thumbnail-slider button.slick-prev.slick-arrow{
    top: -17px;
    left: 24%;
    transform: rotate(90deg);
 }
 .product--no_cstm  thumbnail-slider button.slick-next.slick-arrow{
     bottom: -20px;
    top: unset;
    right: unset;
    left: 24%;
    transform: rotate(90deg);
 }

  .product--no_cstm thumbnail-slider .slick-current.slick-active .thumbnail:after{
    /* box-shadow: inset 0 0 0 0.2rem rgba(var(--color-foreground),1); */
    border: 1px solid #fbb03b;
  }
  .product--no_cstm .thumbnail[aria-current]:after{
    box-shadow:unset;
  }
 .product--no_cstm .slick-list.draggable{
    padding: 0px !important;
  }
}
@media((min-width:750px) and (max-width:1023px)){
  .product--no_cstm thumbnail-slider button.slick-next.slick-arrow {
    bottom: -7px;
    left: 16%;
  }
  .product--no_cstm thumbnail-slider button.slick-prev.slick-arrow {
    top: -7px;
    left: 16%;
  }
}