{% layout none %}

  <ul id="Slider-{{ section.id }}"
        class="product-grid grid cstm_product_slider{% if section.settings.columns_mobile == '1' %} grid--1-col-mobile{% endif %} grid--2-col{% if section.settings.collection == blank or products_to_display == 4 and section.settings.swipe_on_mobile == false %} grid--2-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% if products_to_display == 6 %} grid--3-col-desktop{% else %} grid--4-col-desktop{% endif %}{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider slider--tablet{% endif %}{% if section.settings.collection == blank and section.settings.swipe_on_mobile %} slider slider--tablet{% endif %}"
        role="list"
      >
        {%- for product in product.metafields.custom.similar_product.value limit: section.settings.products_to_show -%}
          {% if product.available %} 
          <li id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if section.settings.collection.all_products_count > 2 and section.settings.swipe_on_mobile and section.settings.products_to_show > 2 %} slider__slide{% endif %}"
          >
            {% render 'card-product',
              card_product: product,
              card_collection: section.settings.collection,
              media_size: 'adapt',
              show_secondary_image: section.settings.show_secondary_image,
              show_quick_buy: section.settings.show_quick_buy,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              enable_quick_view: section.settings.enable_quick_view,
              enable_color_swatches: section.settings.enable_color_swatches,
              enable_countdown: section.settings.enable_countdown,
              enable_image_fill: section.settings.enable_image_fill
            %}
          </li>
          {% endif %}
        {% endfor %}
  </ul>